<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<head>
    <title>Medewerker data</title>
    <h1>Medewerker data</h1>
    <a href="/" id="Home button" onmouseover="this.style.color='#A9A9A9'" onmouseleave="this.style.color='#FFFFFF'" style="background-color: gray;">Home</a>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<body>
    <div>
        <div class="row">
            <div class="column1" style="display: inline-block; width: 100%;">
                <label for="department" style="color: white;">Afdeling:</label>
                <select name="department" id="department1" onchange="fetchDepartment()"></select>
            </div>
            <div class="column1" style="display: inline-block; width: 100%;">
                <div id="sales-bar-chart"></div>
            </div>
        </div>
    </div>

    <div>
        <div id="results">
            <h2>Regression Results</h2>
            <p id="mse">Mean Squared Error: </p>
            <p id="r2">R-squared Score: </p>
            <div id="plot"></div>
        </div>
    </div>
</body>

</html>
    <script>
        updateCharts();
        setInterval(updateCharts, 300000);

        function updateCharts() {
            fetch('/perform_regression')
            .then(response => response.json())
            .then(data => {
                var mse = data.mse;
                var r2 = data.r2;

                var mseElement = document.getElementById("mse");
                var r2Element = document.getElementById("r2");
                // var graphElement = document.getElementById("plot");

                mseElement.innerHTML += mse;
                r2Element.innerHTML += r2;

                var graphData = [data.graphData, data.regressionLine];
                var layout = {
                    title: {
                        text: 'Regression Analysis',
                        font: {
                            color: '#ffffff'
                        }
                    },
                    plot_bgcolor: '#212121',
                    paper_bgcolor: '#212121',
                    xaxis: {
                        title: 'Salary',
                        color: '#ffffff',
                        tickfont: {
                            color: '#ffffff'
                        }
                    },
                    yaxis: {
                        title: 'Total Sales Amount',
                        color: '#ffffff',
                        tickfont: {
                            color: '#ffffff'
                        }
                    }
                };
                var config = { responsive: true };

                Plotly.newPlot('plot', graphData, layout, config);
            })
            .catch(error => {
                console.error(error);
            });
            fetch('/getDepartments')
                .then(response => response.json())
                .then(data => {
                    var departments = data.departments;
                    var select = document.getElementById("department1");
                    for (var i = 0; i < departments.length; i++) {
                        var opt = departments[i];
                        var el = document.createElement("option");
                        el.textContent = opt;
                        el.value = opt;
                        select.appendChild(el);
                    }
                    fetchDepartment();
                });
        }

        function fetchDepartment() {
            var department = document.getElementById("department1").value;
            if (department && department != 'R & D') {
                fetchSalarisPerMedewerkerPerDepartment(department);
            } else if (department && department == 'R & D') {
                fetchSalarisPerMedewerkerPerDepartment('R%20&%20D');
            }
        }

        function fetchSalarisPerMedewerkerPerDepartment(department) {
            fetch(`/getSalaryPerEmployeePerDepartment/${department}/`)
                .then(response => response.json())
                .then(data => {
                    var salaris_per_medewerker_per_department = data.salary_per_employee_per_department;

                    if (salaris_per_medewerker_per_department && salaris_per_medewerker_per_department.length > 0) {
                        var xValues = salaris_per_medewerker_per_department.map(item => `${item.emp_fname}  ${item.emp_lname}`);
                        var yValues = salaris_per_medewerker_per_department.map(item => item.salary);

                        Plotly.newPlot('sales-bar-chart', [{
                            x: xValues,
                            y: yValues,
                            type: 'bar',
                            marker: {
                                color: '#e377c2'
                            },
                        }], {
                            title: {
                                text: 'Salaris per medewerker per department',
                                font: {
                                    color: '#ffffff'
                                }
                            },
                            plot_bgcolor: '#212121',
                            paper_bgcolor: '#212121',
                            yaxis: {
                                title: 'Salaris',
                                color: '#ffffff',
                                tickfont: {
                                    color: '#ffffff'
                                }
                            },
                            xaxis: {
                                title: 'Medewerker',
                                color: '#ffffff',
                                tickfont: {
                                    color: '#ffffff'
                                },
                            }
                        });
                    } else {
                        document.getElementById("sales-bar-chart5").innerHTML = "Er zijn geen medewerkers gevonden voor dit department.";
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        }
    </script>
</body>

</html>
