<!-- <!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<head>
    <title>Medewerker data</title>
    <h1>Medewerker data</h1>
    <a href="/" id="Home button">Home</a>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <script>
        fetch('/perform_regression/')
            .then(response => response.json())
            .then(data => {
                var mse = data[0];
                var r2 = data[1];

                var mseElement = document.getElementById("mse");
                var r2Element = document.getElementById("r2");

                mseElement.innerHTML += mse;
                r2Element.innerHTML += r2;
            })
            .catch(error => {
                console.error(error);
            });
    </script>

    <div id="results">
        <h2>Regression Results</h2>
        <p id="mse">Mean Squared Error: </p>
        <p id="r2">R-squared Score: </p>
    </div>
</body>

</html> -->