<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<head>
    <title>Medewerker data</title>
    <h1>Medewerker data</h1>
    <a href="/" id="Home button">Home</a>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<body>
    <div>
        <div id="output"></div>
        <div class="row">
            <div class="column1" style="display: inline-block; width: 49%;">
                <div id="sales-bar-chart"></div>
            </div>
        </div>
    </div>
    <script>
        fetch('/predict_bonus')
            .then(response => response.json())
            .then(data => {
                var output = document.getElementById("output");
                output.innerHTML = data;
            })
            .catch(error => {
                console.error(error);
            });

    </script>
</body>

</html>