{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<form action="{% url 'polls:statistieken' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <p>Producten</p>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="haal statistieken op">
    </form>
