<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<head>
    <title>Leverancier data</title>
    <h1>Leverancier data</h1>
    <a href="/" id="Home button" onmouseover="this.style.color='#A9A9A9'" onmouseleave="this.style.color='#FFFFFF'" style="background-color: gray;">Home</a>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div>
        <div class="row">
            <div class="column1" style="display: inline-block; width: 49%;">
              <div id="sales-bar-chart"></div>
            </div>
            <div class="column2" style="display: inline-block; width: 49%;">
              <div id="sales-bar-chart2"></div>
            </div>
            <div class="column1" style="display: inline-block; width: 100%;">
              <div id="sales-bar-chart3"></div>
            </div>
        </div>
    </div>
    <script>
    </script>
</body>