<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<head>
    <title>Regio data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div>
        <h1>Regio data</h1>
        <div class="row">
            <div class="six columns" style="display: inline-block; width: 49%;">
                <div id="sales-bar-chart2"></div>
            </div>
            <div class="six columns" style="display: inline-block; width: 49%;">
                <div id="sales-bar-chart"></div>
            </div>
        </div>
    </div>
    <script>
        var sales_per_region = {
            "region": ["Region A", "Region B", "Region C"],
            "total_product_sales": [100, 200, 150]
        };

        var amount_per_region = {
            "region": ["Region A", "Region B", "Region C"],
            "total_sales_amount": [5000, 7000, 6000]
        };

        Plotly.newPlot('sales-bar-chart2', [{
            x: sales_per_region['region'],
            y: sales_per_region['total_product_sales'],
            type: 'bar',
            title: 'Products Sold per Region'
        }], {
            title: {
                text: 'Products Sold per Region',
                font: {
                    color: '#ffffff' // Set the title color to white
                }
            },
            plot_bgcolor: '#000000', // Set the plot background color to black
            paper_bgcolor: '#000000', // Set the paper background color to black
            yaxis: {
                tickfont: {
                    color: '#ffffff' // Set the font color of the y-axis tick labels to white
                }
            },
            xaxis: {
                tickfont: {
                    color: '#ffffff' // Set the font color of the x-axis tick labels to white
                }
            }
        });

        Plotly.newPlot('sales-bar-chart', [{
            x: amount_per_region['region'],
            y: amount_per_region['total_sales_amount'],
            type: 'bar',
            title: 'Amount per Region',
        }], {
            title: {
                text: 'Amount per Region',
                font: {
                    color: '#ffffff' // Set the title color to white
                }
            },
            plot_bgcolor: '#000000', // Set the plot background color to black
            paper_bgcolor: '#000000', // Set the paper background color to black
            yaxis: {
                tickfont: {
                    color: '#ffffff' // Set the font color of the y-axis tick labels to white
                }
            },
            xaxis: {
                tickfont: {
                    color: '#ffffff' // Set the font color of the x-axis tick labels to white
                }
            }
        });

    </script>
</body>

</html>