<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<head>
    <title>Medewerker data</title>
    <h1>Medewerker data</h1>
    <a href="/" id="Home button">Home</a>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<body>
    <div>
        <div class="row">
            <div class="column1" style="display: inline-block; width: 49%;">
                <div id="sales-bar-chart"></div>
            </div>
        </div>
    </div>

    <div>
        <div id="results">
            <h2>Regression Results</h2>
            <p id="mse">Mean Squared Error: </p>
            <p id="r2">R-squared Score: </p>
            <div id="plot"></div>
        </div>
    </div>
    <script>
        fetch('/perform_regression')
            .then(response => response.json())
            .then(data => {
                var mse = data.mse;
                var r2 = data.r2;

                var mseElement = document.getElementById("mse");
                var r2Element = document.getElementById("r2");
                // var graphElement = document.getElementById("plot");

                mseElement.innerHTML += mse;
                r2Element.innerHTML += r2;

                var graphData = [data.graphData, data.regressionLine];
                var layout = {
                    title: {
                        text: 'Regression Analysis',
                        font: {
                            color: '#ffffff'
                        }
                    },
                    plot_bgcolor: '#212121',
                    paper_bgcolor: '#212121',
                    xaxis: {
                        title: 'Salary',
                        color: '#ffffff',
                        tickfont: {
                            color: '#ffffff'
                        }
                    },
                    yaxis: {
                        title: 'Total Sales Amount',
                        color: '#ffffff',
                        tickfont: {
                            color: '#ffffff'
                        }
                    }
                };
                var config = { responsive: true };

                Plotly.newPlot('plot', graphData, layout, config);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
</body>

</html>