<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<head>
    <title>Leverancier data</title>
    <h1>Leverancier data</h1>
    <a href="/" id="Home button" onmouseover="this.style.color='#A9A9A9'" onmouseleave="this.style.color='#FFFFFF'"
        style="background-color: gray;">Home</a>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div>
        <div class="row">
            <div class="column1" style="display: inline-block; width: 49%;">
                <div id="sales-bar-chart"></div>
            </div>
            <div class="column2" style="display: inline-block; width: 49%;">
                <div id="sales-bar-chart2"></div>
            </div>
            <div class="column1" style="display: inline-block; width: 100%;">
                <div id="sales-bar-chart3"></div>
            </div>
            <!-- <div id="itemset"></div> -->
            <div id="itemset-graph"></div>
            <p id="itemsets"></p>
        </div>

        <div>
            <p id="supports"></p>
        </div>

        <div id="chart"></div>
    </div>
    </div>
    <script>
        fetch('/perform_frequentitemset')
            .then(response => response.json())
            .then(data => {
                // Create a bar chart using Plotly
                var chartData = [{
                    x: data.itemsets,
                    y: data.supports,
                    type: 'bar',
                    marker: {
                        color: '#e377c2'
                    } 
                }];

                var layout = {
                    title: 'Frequent Itemsets',
                    plot_bgcolor: '#212121',
                    paper_bgcolor: '#212121',
                    font: {
                        color: '#ffffff'
                    },
                    xaxis: {
                        tickangle: 90,
                        color: '#ffffff'
                    },
                    yaxis: {
                        title: 'Support',
                        color: '#ffffff'
                    },
                    margin: {
                        l: 80,
                        r: 20,
                        t: 40,
                        b: 220
                    }
                };

                Plotly.newPlot('chart', chartData, layout);
            })
            .catch(error => {
                // Handle any errors
                console.error(error);
            });
    </script>
</body>